<div ng-class='homePageTextContainer'>
<img src="" ng-src="../img/imageLogo3.jpg" ng-class="logoHomePage">
	<p>
		...Трудно живее черноосъмецът на чуждо място! Свикнал от дете да гледа стръмните ридове около селото, които загръщат като халища тясната долина, тревога обзема сърцето му в полето, където погледът няма на какво да се спре. Пък и хората, като че ли са други тук - на пръв поглед сурови, те са гостоприемни и открити. Знаят какво е да срещнеш човек в планината, когато имаш нужда от помощ. Защото тук сам човек е загубен. И в същото време тази планина, страшна и непрощаваща на тези, които не зачитат законите и, е майка и съкровищница на блага за истинските и чеда. Тя дава храна за хората и добитъка, и материал за писани скринове, за всякакви домашни съдини, греди за къщите. От нея се правят широки одри за многобройната челяд. Когато планината е зад гърба ти, никакъв изедник не е страшен. Малко хляб и сланина в торбата, брадвата на пояса, няколко крачки до долчината - и ти си свободен...
	</p>
	<p ng-class="author">Откъс от книгата "Черни Осъм" на Радю Минков</p>
</div>