<div ng-class="locationPage" ng-controller="LocationController">
	<img src="" ng-src="../img/imageLogo3.jpg" ng-class="logoLocationPage" onclick="location.href = '#/home'"/>
	
	<div id="map-canvas"></div>

	<div>
		<h1>ФИЗИКО-ГЕОГРАФСКА ХАРАКТЕРИСТИКА</h1>
		<P>
			Черни Осъм се намира на 12 км от първостепенен шосеен път, юго-източно от Троян на 550 м средна надморска височина заедно с махалите, а самия център на 519 м. В края на Възраждането, по време на османското владичество, селото е принадлежало към Троянската околия, Търновска губерния, Дунавска област, а след Освобождението към Троянска околия, Ловешки окръг и Плевенски окръг или област. От 1959 - 1979 г. е принадлежало към община Орешак, Ловешки окръг, а до 1988 г. като кметство към Троянската селищна система, Ловешки окръг. Създаването на областите през 1988 г. го причислява като кметство към община Троян, Ловешка област. По време на преброяването през 1985 г. е наброявало 1600 жители.
		</P>
		<p>
			Границата му на изток опира до Априлската община и минава по върховете Ивандял, Здравченец, Чичова могила до Кръстците, а на запад до землищата на селата Балканец и Орешак чрез вододелният хребет от хижа "Дерменкая" по билото на върховете Чучул, Поленици, Растила, Садината и Кленето над Троянския манастир. На юг граничи с Пловдивска област посредством Карловската и Сопотската община по главното било на балкана от хижа "Дерменкая" и върховете Добрила, Левски/Амбарица, Купенът и Кръстците, а на север с кметство Орешак - Дърменски дол, източния бряг на река Черни Осъм, първото дере над Троянския манастир и опира до малкия връх Кленето. В тия граници площта му възлиза на 179 921 дка, от които 137 350 дка гори.
		</p>
		<p>
			В геоморфоложко отношение Черни Осъм спада в пределите на Централната Старопланинска верига в Подбалкана. Заобикалящите го околни върхове и хълмове са от палеозойски скални и плутонически маси от мезозойски пластове. В южната му част в народния парк "Стенето" преобладават формирани скални зъбери и откоси от триаски варовици.
		</p>
		<p>
			Централната част от селото, част от махала Стойновското и Бъзьово, махала Стругът и Миленча са разположени на тясна речна заравненост, която започва от м. Смесите и продължава по посока на север през местностите Козарките, Лъгът, Стружището, Самунското, Мижовото, Михалевото, Мацка, Върбака, Иванската и Илиева лъка, която в долния си край под махала Стругът се стеснява при м. Криволът, а от там през Черковщето и Исова лъка опира до Дърменски дол - общо дълга около 7,5 километра.
		</p>
		<p>
			Над нея на 10 - 20 м. височина, а някъде и повече, се очертават леко наклонени тераси с не големи площи земя. От западния бряг на реката в посока от юг - север се зареждат Попските ливади, Кокиля и Ремичково в махала Стойновското, Гергановото под махала Кошутина и надолу - Кършеновото, Балиновото, Требежът, Гробищата и Еньовото. Източно от реката, пак в посока от юг - север, започва Бъзьовската тераса, Алтевото, Корделът, Търничево и Гориначево. В тях преобладават нивите и овощните градини на селото.
		</p>
		<p>
			Във височина терасите преминават в хълмове и върхове с големи площи естествени ливади и пасища, пръснати из огромните горски масиви. Най-отгоре в южна посока и в страни се откроява централния горски пояс, а над него високопланинските пасища, от които най-хубаво е "Дупката", ползвано от селото.
		</p>
		<p>
			
		</p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>